.dotFlashing {
  margin-top: 10px;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E39532;
  color: #E39532;
  animation: dotFlashingAnimation 1s infinite linear alternate;
  animation-delay: .5s;
}

.dotFlashing::before, .dotFlashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E39532;
  color: #E39532;
  animation: dotFlashingAnimation 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E39532;
  color: #E39532;
  animation: dotFlashingAnimation 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashingAnimation {
  0% {
    background-color: #000;
  }
  50%, 100% {
    background-color: #FFF7E9;
  }
}